.clickToFlashPlaceholder {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.15))) !important;
	border: 1px solid rgba(0, 0, 0, 0.5) !important;
	-webkit-user-select: none !important;
}

.clickToFlashPlaceholder:active {
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.15))) !important;
}

.clickToFlashPlaceholder .logo {
	border-radius: 16.0px !important;
	border: 8px solid rgba(0, 0, 0, 0.3) !important;
	font-size: 40px !important;
	width: auto !important;
	margin: 0 auto !important;
	position: absolute !important;
	color: rgba(0, 0, 0, 0.8) !important;
	font-weight: bold !important;
	padding: 0 10px !important;
	-webkit-user-select: none !important;
	cursor: default !important;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.45) !important;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45) !important;
}