.clickToFlashPlaceholder {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.15))) !important;
	border: 1px solid rgba(0, 0, 0, 0.5) !important;
	-webkit-user-select: none !important;
	display: table !important;
	font-family: "Helvetica Neue", Helvetica, sans-serif !important;
}

.clickToFlashPlaceholder:active {
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.15))) !important;
}

.logoVerticalPosition {
	display: table-cell !important; 
	vertical-align: middle !important;
	width: auto !important;
	height: auto !important;
}

.logoHorizontalPosition {
	float: left !important;
	position: relative !important;
	left: 50% !important;
	height: auto !important;
	width: auto !important;
}

.clickToFlashPlaceholder .logoContainer {
	float: left !important;
	position: relative !important;
	left: -50% !important;
	width: auto !important;
	height: auto !important;
}

.clickToFlashPlaceholder .logoContainer.mini .logo {
	font-size: 20px !important;
	border-width: 4px !important;
	padding: 14px 5px 7px 5px !important;
	border-radius: 8px !important;
}

.clickToFlashPlaceholder .logo {
	border-radius: 16.0px !important;
	border: 8px solid rgba(0, 0, 0, 0.3) !important;
	font-size: 40px !important;
	width: auto !important;
	color: rgba(0, 0, 0, 0.5) !important;
	font-weight: bold !important;
	padding: 28px 10px 14px 10px !important;
	-webkit-user-select: none !important;
	cursor: default !important;
	margin: 0 auto !important;
	line-height: 0 !important;
	background: none !important;
	position: relative !important;
	height: auto !important;
}

.clickToFlashPlaceholder .logo.inset {
	color: rgba(255, 255, 255, 0.45) !important;
	border-color: rgba(255, 255, 255, 0.45) !important;
	position: absolute !important;
	top: 1px !important;
}

.clickToFlashPlaceholder .actionButton {
	position: absolute !important;
	left: 4px !important;
	top: 4px !important;
	width: 22px !important;
	height: 22px !important;
	background-color: rgba(255, 255, 255, 0.45) !important;
	background-image: url("actionButton.png") !important;
	background-size: 18px !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	border-radius: 11px !important;
	opacity: 0.0 !important;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.25s;
	border: 0 !important;
	z-index: 2 !important;
}

.clickToFlashPlaceholder:hover .actionButton {
	opacity: 1.0 !important;
}

.clickToFlashPlaceholder .contextMenu {
	position: absolute !important;
	background-color: rgba(255, 255, 255, 0.9) !important;
	-webkit-user-select: none !important;
	color: #000 !important;
	font-size: 14px !important;
	z-index: 3 !important;
	-webkit-box-shadow: 0 2px 5px #000 !important;
	list-style: none !important;
	margin: 0 !important;
	border-radius: 4px !important;
	padding: 4px 0 !important;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.15s;
}

.clickToFlashPlaceholder .contextMenu li.menuItem {
	padding: 2px 16px !important;
	-webkit-user-select: none !important;
	cursor: default !important;
	font-weight: normal !important;
	font-family: "Lucida Grande", Helvetica, sans-serif !important;
	text-align: left !important;
}

.clickToFlashPlaceholder .contextMenu li.separator {
	height: 0 !important;
	padding: 0 !important;
	margin: 3px 0 2px 0 !important;
	border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.clickToFlashPlaceholder .contextMenu li.menuItem:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(94, 121, 253)), to(rgb(29, 60, 252))) !important;
	color: #fff !important;
	padding-top: 1px !important;
	padding-bottom: 1px !important;
	border-top: 1px solid rgb(84, 122, 244) !important;
	border-bottom: 1px solid rgb(16, 39, 242) !important;
}

#whitelistBackground {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	background-color: rgba(0, 0, 0, 0.85) !important;
	z-index: 10000 !important;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.5s;
	opacity: 0;
}

#whitelistBackground.fadeIn {
	opacity: 1;
}

#whitelistContainer {
	width: 400px !important;
	height: 450px !important;
	background-color: #eee !important;
	margin: 80px auto !important;
	border-radius: 8px !important;
	-webkit-box-shadow: 0 8px 15px #000 !important;
	
	-webkit-transition-property: -webkit-transform, opacity !important;
	-webkit-transition-duration: 0.5s, 0.5s !important;
	-webkit-transition-delay: 0, 0 !important;
	
	-webkit-transform: scale(0.75) !important;
	opacity: 0 !important;
	
	padding: 20px 40px !important;
	font-family: "Helvetica Neue", Helvetica, sans-serif !important;
	-webkit-user-select: none !important;
	cursor: default !important;
	
	border: 0 !important;
	border-top: 1px solid #fff !important;
	font-size: 12px !important;
}

#whitelistContainer.zoomFade {
	-webkit-transform: scale(1) !important;
	opacity: 1 !important;
}

#whitelistContainer h1 {
	color: #444 !important;
	font-size: 30px !important;
	padding: 0 !important;
	margin: 0 !important;
}

#whitelistContainer h2 {
	color: #aaa !important;
	font-size: 22px !important;
	padding: 0 !important;
	margin: 0 !important;
}

#whitelistContainer #whitelistSites {
	background: #fff !important;
	border: 1px solid rgb(140, 140, 140) !important;
	position: absolute !important;
	top: 100px !important;
	left: 40px !important;
	right: 40px !important;
	bottom: 93px !important;
	overflow: auto !important;
	overflow-x: hidden !important;
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

#whitelistContainer #whitelistSites li {
	height: 22px !important;
	width: 100% !important;
	border-bottom: 1px solid #ccc !important;
	padding: 2px 4px !important;
	line-height: 22px !important;
	margin: 0 !important;
}

#whitelistContainer #whitelistSites li.selected {
	background-color: rgb(56, 117, 215) !important;
	color: #fff !important;
	-webkit-user-select: text !important;
}

#whitelistContainer #buttonBar {
	position: absolute !important;
	bottom: 70px !important;
	left: 40px !important;
	right: 40px !important;
	height: 22px !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgb(250, 250, 250)),
	                color-stop(0.5, rgb(248, 248, 248)), color-stop(0.51, rgb(234, 234, 234)), color-stop(1.0, rgb(236, 236, 236))) !important;
	border: 1px solid rgb(140, 140, 140) !important;
	border-top: 1px solid rgb(180, 180, 180) !important;
	margin: 0 !important;
	padding: 0 !important;
}

#whitelistContainer #buttonBar button {
	width: 32px !important;
	height: 22px !important;
	margin: 0 !important;
	border: 0 !important;
	border-right: 1px solid rgb(140, 140, 140) !important;
	font-size: 16px !important;
	font-family: "Helvetica Neue", Helvetica, sans-serif !important;
	font-weight: bold !important;
	padding: 0 !important;
	color: #444 !important;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) !important;
	background: none !important;
	padding-bottom: 2px !important;
}

#whitelistContainer #buttonBar button:active {
	background-color: rgba(0, 0, 0, 0.4) !important;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) !important;
	color: rgb(40, 40, 40) !important;
	
	border: 1px solid rgb(100, 100, 100) !important;
	
	margin-top: -1px !important;
	margin-left: -1px !important;
	height: 24px !important;
	width: 33px !important;
}

#whitelistBottomButtons {
	position: absolute !important;
	bottom: 20px !important;
	right: 40px !important;
}

#whitelistBottomButtons button {
	border-radius: 4px !important;
	padding: 8px 32px !important;
	font-size: 12px !important;
	font-weight: bold !important;
	color: rgb(100, 100, 100) !important;
	text-shadow: 0 1px 0 #fff !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgb(241, 241, 241)),
	                color-stop(0.5, rgb(220, 220, 220)), color-stop(0.51, rgb(210, 210, 210)), color-stop(1.0, rgb(220, 220, 220))) !important;
	-webkit-box-shadow: 0 1px 0 #fff !important;
	border: 0 !important;
	border-top: 1px solid rgb(255, 255, 255) !important;
	-webkit-box-shadow: 0 0 0 1px rgb(140, 140, 140), 0 1px 0 1px #fff !important;
}

#whitelistContainer button:active {
	background: -webkit-gradient(linear, left bottom, left top, from(rgb(241, 241, 241)), to(rgb(220, 220, 220))) !important;
}

#whitelistContainer button#cancelButton {
	float: left !important;
	margin-right: 10px !important;
}

#whitelistContainer button#saveButton {
	color: #fff !important;
	text-shadow: 0 -1px 0 rgb(22, 100, 22) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgb(98, 171, 98)),
	                color-stop(0.5, rgb(47, 149, 48)), color-stop(0.51, rgb(7, 137, 8)), color-stop(1.0, rgb(1, 130, 2))) !important;
	
	-webkit-box-shadow: 0 0 0 1px rgb(22, 100, 22), 0 1px 0 1px #fff !important;
	border-color: rgb(155, 205, 153) !important;
}

#whitelistContainer button#saveButton:active {
	background: -webkit-gradient(linear, left bottom, left top, from(rgb(98, 171, 98)), to(rgb(1, 130, 2))) !important;
	text-shadow: 0 1px 2px rgb(22, 100, 22) !important;
	border-color: rgb(97, 171, 97) !important;
}