.clickToFlashPlaceholder {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.15))) !important;
	border: 1px solid rgba(0, 0, 0, 0.5) !important;
	-webkit-user-select: none !important;
	display: table !important;
	font-family: "Helvetica Neue", Helvetica, sans-serif !important;
}

.clickToFlashPlaceholder:active {
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.15))) !important;
}

.logoVerticalPosition {
	display: table-cell !important; 
	vertical-align: middle !important;
}

.logoHorizontalPosition {
	float: left !important;
	position: relative !important;
	left: 50% !important;
}

.clickToFlashPlaceholder .logoContainer {
	float: left !important;
	position: relative !important;
	left: -50% !important;
}

.clickToFlashPlaceholder .logoContainer.mini .logo {
	font-size: 20px !important;
	border-width: 4px !important;
	padding: 14px 5px 7px 5px !important;
	border-radius: 8px !important;
}

.clickToFlashPlaceholder .logo {
	border-radius: 16.0px !important;
	border: 8px solid rgba(0, 0, 0, 0.3) !important;
	font-size: 40px !important;
	width: auto !important;
	color: rgba(0, 0, 0, 0.5) !important;
	font-weight: bold !important;
	padding: 28px 10px 14px 10px !important;
	-webkit-user-select: none !important;
	cursor: default !important;
	margin: 0 auto;
	line-height: 0 !important;
	
	position: relative !important;
}

.clickToFlashPlaceholder .logo.inset {
	color: rgba(255, 255, 255, 0.45) !important;
	border-color: rgba(255, 255, 255, 0.45) !important;
	position: absolute !important;
	top: 1px !important;
}